.hc {
    display: block;
    vertical-align: middle;
    float: none;
    margin: 20px auto;
}
.spacious {
	margin-top: 20px !important;
}
.row{
	text-align: center;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}