.hc {
    display: block;
    vertical-align: middle;
    float: none;
    margin: 20px auto;
}
.spacious {
	margin-top: 20px !important;
}
.row{
	text-align: center;
}
body{
	padding-top: 70px;
}
body.signin{
	padding-top: 0px;
}